<mat-card class="welcome-card">
  <mat-card-header>
    <img src="assets/logo2_copia.jpg" alt="Welcome" width="350px">
  </mat-card-header>
  <mat-card-content>
    <br>
    <h1>Benvenuto nella nostra App!</h1>
    <h3>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus iste aliquid quos est suscipit fuga error
      vel nihil mollitia dicta earum eveniet, ut maiores recusandae? Ipsam reprehenderit voluptatibus mollitia quis.
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maiores laudantium dolorem quos unde minima voluptatem
      inventore fugit deserunt voluptatum ab a numquam nulla, omnis illo commodi repellendus quaerat. <br> Aliquid,
      saepe. Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere asperiores ut mollitia totam aliquid quasi
      fuga eveniet repudiandae quis, enim, quod velit, error qui nihil harum ex veritatis quia laboriosam. <br> Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Numquam distinctio similique, blanditiis architecto quidem,
      optio sunt aspernatur maxime laborum velit asperiores harum ad. Ab nobis provident ipsa maiores. Impedit,
      corrupti. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque, sapiente. Quidem, officia recusandae
      debitis velit quaerat, at modi perspiciatis fuga culpa corporis vero laudantium nostrum pariatur magni molestias
      dignissimos eos. Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius qui fugit nobis nulla iure ipsum
      cumque minima esse, quisquam nesciunt quidem sapiente! Ad illo, ea est voluptatibus placeat inventore doloribus?
      <br> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi ex totam, illum corporis officiis officia
      iste magni natus fugit nulla velit amet quia ipsam aut nisi tenetur reprehenderit magnam! Ratione. Lorem ipsum
      dolor sit, amet consectetur adipisicing elit. In adipisci commodi iure cupiditate nesciunt reprehenderit inventore
      aperiam eveniet, perferendis laudantium, enim rem nisi ea ex quia consequuntur dolorum. Neque, mollitia?
    </h3>
  </mat-card-content>

</mat-card>
<mat-card-footer>
  <p>Copyright 2022 - Gruppo 5</p>
  <p>Contattaci</p>
  <p>Dicono di noi</p>
</mat-card-footer>
