li{
  background-color: #1e1e1e;
  color: aliceblue;
  #details{
    background-color: lightblue;
    color: #1e1e1e;
  }
  #modify{
    background-color: #d3d39d;
    color: #1e1e1e;
  }
  #delete{
    background-color: lightcoral;
    color: #1e1e1e;
  }
}
