
// .btn {
//     background-color: paleturquoise
// }

.text {
    width: 100%;
    border-color: rgb(207, 212, 217);
}

#form {
    background-color:#1e1e1e ;
    padding: 50px;
    border-radius: 10px;
    color:rgb(246, 195, 68);

}
.btn {
    color: black;
    background-color: rgb(246, 195, 68);
}


