<div class="container">
  <h2 class="text-center fw-bolder">Login</h2>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label text-light">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"
            ngModel required email>
          <div id="emailHelp" class="form-text text-light">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label text-light">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" name="password" ngModel required>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid"> Submit</button>
        <div>
          <br>
          <p class="text-white">Non hai un account? <a [routerLink]="'/register'">Registrati</a></p>
        </div>

      </form>
    </div>
    <div class="col-2"></div>
  </div>
</div>
